.about-header {
    min-height: 500px;
    padding-bottom: 5rem;
    padding-top: 150px;
    background-image: url("../img/home-header-bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.about-header .about-header-container{
   text-align: center;
   margin: auto;
   padding-top: 100px;
}

.about-header .about-header-container h2, .about-header .about-header-container h3{
    color: white;
}




/* ABOUT SECTION 1 */

.about-section1{
    padding-top: 150px;
    text-align: center;
}

.about-section1 h2{
    padding-bottom: 100px;
}


.about-section1 .paragraph-container{
    text-align: left;
}


/* ABOUT SECTION 2 */
.about-section2{
    background-color: var(--color1);
}

.about-section2{
   text-align: center;
   margin: auto;
   padding-top: 100px;
   padding-bottom: 100px;
}


.about-section2 h2{
    padding-bottom: 100px;
    color: white;
}


.about-section2 .paragraph-container {
    text-align: left;
    color: white;
}



.about-section2 .paragraph-container p{
    color: white;
}



.about-section2 .mobile-container img, .about-section2 .laptop-container img{ 
    margin: auto;
    margin-bottom: 3rem;
}

/* ABOUT SECTION 3 */
.about-section3{

    text-align: center;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
    max-height: 2800px;
}

.about-section3 .line{
    display: block;
    width: 10px;
    height: 1800px;
    background-color: var(--color1);
    position: absolute;
    left: 50%;
    top: 20%;
}


.about-section3 .row{
    margin-bottom: 5rem !important;
}

 .about-section3 .obj7{
    position: absolute;
    right: -50px;
 }
 
 .about-section3 p {
    margin-bottom: 100px;
 }


 .about-section3 .content-container{
    background-color: var(--color5);
    padding: 50px;
    border-radius: 20px;
    text-align: left;  
    padding-top: 50px;
    position: relative;
    height: 330px;
 }

 .about-section3 .content-container .obj8{
    position: absolute;
    top: -70px;
    left: -50px;
 }

 .about-section3 .content-container .obj9{
    position: absolute;
    top: -70px;
    right: -50px;
 }

 .about-section3 .content-container .obj10{
    position: absolute;
    top: -70px;
    left: -50px;
 }

 
 .about-section3 .content-container .obj11{
    position: absolute;
    top: -70px;
    right: -50px;
 }


 .about-section3 .content-container .obj12{
    position: absolute;
    top: -70px;
    left: -50px;
 }
 
 .about-section3 .content-container h4{
    margin-bottom: 1rem;
 }

 .about-section3 .container-shadow{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 95%;
    height: 330px;
    z-index: -1;
   border-radius: 1px; 
 }

 .about-section3 .container-shadow-l-2{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 95%;
    min-height: 330px;
    z-index: -1;
   border-radius: 1px; 
 }
 
 
 .about-section3 .container-shadow-l-3{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 95%;
    min-height: 330px;
    z-index: -1;
   border-radius: 1px; 
 }
 

 
 .about-section3 .container-shadow-r{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    right: -10px;
    width: 95%;
    min-height: 330px;
    z-index: -1;
   border-radius: 1px; 
 }

 .about-section3 .container-shadow-r-2{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    right: -10px;
    width: 95%;
    min-height: 330px;
    z-index: -1;
   border-radius: 1px; 
 }

 
.globe-bg{
    position: relative;
    width: 100%;
    display: block;
    z-index: -3;
}

.globe-bg img{
    width: 100%;
    margin-top: -1033px;
}
