/*FONT*/

/*THIN*/
@font-face {
  font-family: "brandonGrotesqueThinItalic";
  src: url("font/Brandon_grotesque-thin-italic.otf");
  }
/*LIGHT*/
@font-face {
  font-family: "brandonGrotesqueLight";
  src: url("font/Brandon_grotesque-light.otf");
  }
/*LIGHT ITALIC*/
@font-face {
  font-family: "brandonGrotesqueLightItalic";
  src: url("font/Brandon_grotesque-light-italic.otf");
  }
/*REGULAR*/
@font-face {
  font-family: "brandonGrotesqueRegular";
  src: url("font/Brandon_grotesque-regular.otf");
  }
/*REGULAR ITALIC*/
@font-face {
  font-family: "brandonGrotesqueRegularItalic";
  src: url("font/Brandon_grotesque-regular-italic.otf");
  }
/*MEDIUM*/
@font-face {
  font-family: "brandonGrotesqueMedium";
  src: url("font/Brandon_grotesque-medium.otf");
  }
/*MEDUIM ITALIC*/
@font-face {
  font-family: "brandonGrotesqueMeduimItalic";
  src: url("font/Brandon_grotesque-medium-italic.otf");
  }
/*BOLD*/
@font-face {
  font-family: "brandonGrotesqueBold";
  src: url("font/Brandon_grotesque-bold.otf");
  }
/*BOLD ITALIC*/
@font-face {
  font-family: "brandonGrotesqueBoldItalic";
  src: url("font/Brandon_grotesque-bold-italic.otf");
  }
/*BLACK*/
@font-face {
  font-family: "brandonGrotesqueBlack";
  src: url("font/Brandon_grotesque-black.otf");
  }    

/*VARIABLE*/
:root {
  --color1: #F45625;
  --color2: #EE8738;
  --color3: #1F6B87;
  --color4: #0C3F51;
  --color5: #F5E7C7;  
  --white: #ffffff;
  --black: #121622;
  --default-font: 'brandonGrotesqueRegular', sans-serif;
  --heading-font: 'brandonGrotesqueBold', sans-serif;

}

/*DEFAULT*/
* {
  font-family: var(--default-font) !important;
  box-sizing: border-box;
  font-size: 20px;
}

/*
  1. Use a more-intuitive box-sizing model.
    */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
  margin: 0;
}

.container-fluid{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
/*
	3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
/*
	Typographic tweaks!
	4. Add accessible line-height
	5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
/*
	6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
	7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
	8. Avoid text overflows
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--black);
  font-family: 'brandonGrotesqueBold' !important;
  text-transform: uppercase;
}

p {
  font-family: var(--default-font);
  color: var(--black);
  line-height: 1.5rem;
  font-weight: 400;
  
}

/*
	9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

a:link {
  color: var(--black) !important;
  cursor: pointer;
}
a:hover {
  color: var(--black) !important;
  cursor: pointer;
}
a:visited {
  color: var(--black);
  /*text-decoration: underline;
	cursor: auto;*/
}
a:link:active {
  /*text-decoration: underline;*/ /*
		color: (internal value);*/
    color: var(--black) !important;
}
a:visited:active {
  /*	color: (internal value);
  
*/
color: var(--black) !important;
}

/* CUSTOM STYLES */
.vertical-line{
  display: block;
  background-color: var(--yellowOrange);
  height: 2px;
  width: 100%;
}

.horizontal-line{
  display: block;
  background-color: var(--black);
  height: 1px;
  width: 100%;
  margin-bottom: 80px;
}

/* HEADING  */


/* FONT-COLOR */


/* FONT-WIEGHT */


/* Button */



/* BACKGROUND TRANSITIONS */
/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: none;
  color: var(--copperCrayola);
  outline: 3px solid var(--copperCrayola);
  font-weight: 800;
}


/* BACKGROUND */



/* SECTION */
.section{
  min-height: 500px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding: 3rem;
}

.center{
  display: flex;
  align-items: center;
}

/* BORDER */
.border{
  border: 1px solid red !important;
}


.btn-moreso-orange{
  background-color: var(--color2);
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 1rem;
}

.btn-orange{
  background-color: var(--color1);
  border-radius: 30px;
  padding: 10px 30px;
  margin-right: 1rem;
}


/* FOOTER */
.footer{
  padding-top: 100px;
}

.footer ul li a, .footer p{
  color: var(--black);
}

.footer p {
  margin-top: 0rem;
  font-size: .9rem;
}

.contact-section{
  min-height: 500px;
  padding-bottom: 5rem;
  padding-top: 50px;
  background-image: url("../img/contactform.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
  box-shadow: 0px 2px 6px 3px rgb(0, 0 ,0 , .25);
  -webkit-box-shadow: 0px 2px 6px 3px rgb(0, 0 ,0 , .25);
  -moz-box-shadow: 0px 2px 6px 3px rgb(0, 0 ,0 , .25);
}


.contact-section2{
  background-color: #1F6B87;
  min-height: 300px;
  padding-bottom: 5rem;
  padding-top: 50px;
  background-image: url("../img/contactform.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.contact-section2 p {
  color: var(--white);
}

.marginTop212{
  margin-top: 212.5px !important;
}


