

/********************************* HEADER **********************************************/
.header{
    min-height: 1000px;
    padding-bottom: 5rem;
    padding-top: 150px;
    background-image: url("../img/home-header-bg.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    
  }


  .header h1, .header h3, .header a{
    color: var(--white);
  }

  .header h1 {
    font-family: 'brandonGrotesqueBold' !important;
  }

  .header h3{
    font-family: 'brandonGrotesqueBold' !important;
  }

  .header a{
    font-family: 'brandonGrotesqueRegular' !important;
  }

  .header .btn-moreso-orange{
    background-color: var(--color2);
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 1rem;
  }

  .header .btn-moreso-orange2{
    background-color: var(--color1);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    position: relative;
    margin-left: 1rem;
  }

  .header .btn-moreso-orange2 i{
font-size: 32px;
top: 3px;
position: absolute;
left: 9px;
  }

  .header svg{
    width: 100%;
  }


  /********************************* SECTION 1 **********************************************/
  .home-section1 .img-container{
   border: 5px solid var(--color1);
   width: 100%;
   min-height: 450px;
   border-radius: 20px; 
   background-color: var(--white);
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 3rem;
   position: relative;
  }

  .home-section1 .obj1{
    position: absolute;
    right: 0px;
    display: none;
  }

  .home-section1 .obj2{
    position: absolute;
    right: 0px;
    display: none;
  }



  .home-section1 .img-container-shadow{
    background-color: var(--color1);
    display: block;
    position: absolute;
    top: 30px;
    left: -10px;
    width: 95%;
    min-height: 450px;
    z-index: -1;
   border-radius: 1px; 
  }

  .home-section1 .content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-section1 .content-container p{
   padding-left: 2rem;
  }

  /********************************* SECTION 2 **********************************************/
  .home-section2{
    position: relative;
  }

  .home-section2 .obj3{
    position: absolute;
    left: -50px;
  }

  
  .home-section2 .obj4{
    position: absolute;
    left: -10px;
    bottom: 50px;
  }
  
  .home-section2 .img-container{
    border: 5px solid var(--color3);
    width: 100%;
    min-height: 450px;
    border-radius: 20px; 
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
   }

   .home-section2 .img-container-shadow{
    background-color: var(--color3);
    display: block;
    position: absolute;
    top: 30px;
    right: -10px;
    width: 95%;
    min-height: 450px;
    z-index: -1;
   border-radius: 1px; 
  }


  .home-section2 .content-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-section2 .content-container p{
    padding-right:2rem;
   }



  /********************************* SECTION 3 **********************************************/
  .logo-container {
    background-color: var(--color1);
    height: 250px;
   
  }


  .home-section3 .img-container{
    position: relative;
  }

  .home-section3 .img-container img{
    position: absolute;
    top: -130px;
  }


 
  .home-section3 section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

  
  .home-section3  .logo-paragraph-container p{
    font-size: 25px;
    color: white;
    text-transform: uppercase;
  }



  /********************************* SECTION 4 **********************************************/
  .home-section4{
    margin-bottom: 150px;
  }



  .home-section4 h2{
    margin-top: 3rem;
    margin-bottom: 5rem;
    color: var(--white);
  }

  .home-section4 .row1{
    margin-bottom: 8rem;
  }

  .home-section4 .services-img-container img:hover{
    transform: translateY(-20px);
    transition: .9s;
  }


  .home-section4 .row1 .services-img-container{
    position: relative;
    height: 100%;
  }


  .home-section4 .row1 .services-img-container .img1{
    position: absolute;
  }


  .home-section4  .row1 .services-img-container .img2{
    position: absolute;
    bottom: -540px;
  }


  .home-section4 .row1 .paragraph-container {
    padding-left: 2rem;
  }

  .home-section4 .row1 .paragraph-container p{
    color: var(--white);
  }


  .home-section4 .row2{
    margin-top: 10rem;
    margin-bottom: 8rem;
  }


  .home-section4 .row2 .services-img-container{
    position: relative;
    height: 100%;
  }


  .home-section4 .row2 .services-img-container .img3{
    position: absolute;
  }


  .home-section4  .row2 .services-img-container .img4{
    position: absolute;
    bottom: -540px;
  }

  .home-section4 .row2 .paragraph-container {
    padding-right: 2rem;
  }

.dark-bg-poly {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 10%);
  background-color: var(--black);
  display: block;
  height: 1574px;
  width: 100%;
  position: absolute;
  z-index: -1;
}


.dark-bg-rec{
  background-color: var(--black);
  display: none;
  height: 1000px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

  /********************************* SECTION 5 **********************************************/
.home-section5 .obj6{
position: absolute;
right: -30px;
}




.home-section5 h2{
  text-align: end;
}
.home-section5{
  margin-bottom: 100px;
}



.home-section5 h2{
  margin-top: 3rem;
  margin-bottom: 5rem;
 
}

.home-section5 .row1{
  margin-bottom: 3rem;
}



.home-section5 .row2 p{
  color: white;
}


.orange-bg-poly{
  clip-path: polygon(0% 1%, 100% 84%, 100% 91%, 0 91%);
  background-color: var(--color1);
  display: block;
  height: 1232px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.orange-bg-rec{
  background-color: var(--color1);
  display: none;
  height: 1000px;
  width: 100%;
  position: absolute;
  z-index: -1;
}