
@media (min-width: 200px) and (max-width:499.98px){

  footer ul li a, footer p{
    font-size: 16px !important;
  }

  h1{
    font-size: 32px !important;
  }
  h2{
    font-size: 30px !important;
  }
  h3{
    font-size: 28px;
  }

  h4{
    font-size: 24px;
  }

  .marginTop212{
    margin-top: 32.5px !important;
  }
  

  .header{
    min-height: 830px !important;
  }

  .home-section3  .logo-paragraph-container p{
    font-size: 1rem;
    color: white;
  }

  .about-section3 .line{
    height: 3000px;
    top: 10%;
    
}

    /* HOME */


      .home-section3 .img-container img{
        
        top: -20px;
      }
      .home-section1 .content-container p{
        padding-left:0px;
       }


       .home-section1 .img-container-shadow{
        display: none;
       }

       .home-section2 .content-container p{
        padding-left:0px;
       }

       .home-section2 .img-container-shadow{
        display: none;
       }



       .home-section1 .obj1,.home-section1 .obj2, .home-section2 .obj3, .home-section2 .obj4, .home-section4 .obj5, .about-section3 .obj7, .services-section1 .obj13, .services-section1 .obj14, .services-section2 .obj15{
        display: none;
      }

                     /* SECTION4 */

                     .dark-bg-poly{
                        display: none;
                       }
                
                       .dark-bg-rec{
                        display: block;
                        height: 1150px;
                      }

                      
  .logo-container{
    height: 100%;
  }

  .logo-container .img-containers {
    margin: auto;
  }
                
                
      .home-section4 {
        background-color: var(--black);
      }

      .home-section4 p {
        color: var(--white);
      }
                      .home-section4 .row1 .paragraph-container {
                        padding-left: 0;
                    }

                    .home-section4 .row1 .services-img-container{
                        margin-bottom: 1rem;
                      }
                
                       .home-section4 .row1{
                        margin-bottom: 2rem;
                        
                      }

                      .home-section4 h2{
                        font-size: 1.5rem !important;
                        
                      }

                      .home-section4 .row1 .services-img-container{
                        margin-top: 1rem;
                      }
                
                      .home-section4 .row1 .services-img-container .img1{
                        position: relative;
                      }
                      .home-section4 .row1 .services-img-container .img2{
                        position: relative;
                        bottom: 0;
                      }

                      .home-section4 .row2 .paragraph-container {
                        padding-left: 0;
                    }
                
                       .home-section4 .row2{
                        margin-bottom: 0px;
                        
                      }
                      .home-section4 .row2{
                        margin-top: 1rem;
                      }
                
                      .home-section4 .row2 .services-img-container{
                        margin-bottom: 1rem;
                      }
                
                      .home-section4 .row2 .services-img-container .img3{
                        position: relative;
                      }
                      .home-section4 .row2 .services-img-container .img4{
                        position: relative;
                        bottom: 0;
                      }

                      .home-section4 {
                        margin-bottom: 0px;
                    }

                       /* SECTION 5 */

                       
              .home-section5 h2{
                text-align: center;
                color: white;
                font-size: 1.5rem;
              }

              .home-section5 .row1 {
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 .laptop-container{
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 p{
               color: white;
            }
            .home-section5 .obj6{
              display: none;
            }

              .orange-bg-poly{

                display: none;
               
              }
              
              .orange-bg-rec{
               
                display: block;
                height: 1650px;
              }

              .footer img{
                width: 20% !important;
              }

              .section{
                padding-left: 0px !important;
                padding-right: 0px !important;
              }


              /* ABOUT */
              .about-section3 .container-shadow{
                
                min-height: 420px; 
             }



           .about-section3{
            padding-bottom: 0px !important;
          }   

          .services-section5 .img-container img{
 
            top: -100px;
           
            
           
        }

        /* ABOUT */

          /* ABOUT */
    
    .about-section3 .content-container {
      height: 510px;
    }

    .about-section3 .content-container.last{
      height: 570px;
    }
    
    
    .about-section3 .container-shadow{
      display: none;
    }
    
    .about-section3 .container-shadow-l-2{
      display: none;
    }
    
    
    .about-section3 .container-shadow-l-3{
      display: none;
    }
    
    
    
    .about-section3 .container-shadow-r{
      display: none;
    }
    
    .about-section3 .container-shadow-r-2{
      display: none;
    }
    
    .about-section3 .line{
      display: none;
    }

    .about-section3{
      min-height: 3450px;
    }
    .about-section3 .content-container .obj8, 
    .about-section3 .content-container .obj9,
    .about-section3 .content-container .obj10,
    .about-section3 .content-container .obj11,
    .about-section3 .content-container .obj12{
      display: none;
    }
    
    .about-section3 .line{
      display: none;
    }

    .services-section1 h2{
      padding-top: 20px;
      padding-bottom: 0px;
    }

    .services-section1  {
      padding: 0px;
    }

    .services-section2 h2{
      padding-bottom: 0px !important;
    }

    .services-section5 .img-container{
      height: 130px !important;
    }

}


/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 500px) and (max-width: 575.98px) {

  h1{
    font-size: 32px !important;
  }
  h2{

  }
  h3{
    font-size: 28px;
  }

  .marginTop212{
    margin-top: 32.5px !important;
  }
  
  .home-section3  .logo-paragraph-container p{
    font-size: 1rem;
    color: white;
  }

  .about-section3 .line{
    height: 3000px;
    top: 10%;
    
}

    /* HOME */
    
    .header{
      min-height: 830px !important;
    }

      .home-section3 .img-container img{
        
        top: -20px;
      }
      .home-section1 .content-container p{
        padding-left:0px;
       }
       .home-section2 .content-container p{
        padding-left:0px;
       }

       .home-section1 .obj1,.home-section1 .obj2, .home-section2 .obj3, .home-section2 .obj4, .home-section4 .obj5, .about-section3 .obj7, .services-section1 .obj13, .services-section1 .obj14, .services-section2 .obj15{
        display: none;
      }

                     /* SECTION4 */

                     .dark-bg-poly{
                        display: none;
                       }
                
                       .dark-bg-rec{
                        display: block;
                        height: 1150px;
                      }

                      
  .logo-container{
    height: 100%;
  }

  .logo-container .img-containers {
    margin: auto;
  }
                
  
  .home-section4 {
    background-color: var(--black);
  }

  .home-section4 p {
    color: var(--white);
  }
                
                      .home-section4 .row1 .paragraph-container {
                        padding-left: 0;
                    }

                    .home-section4 .row1 .services-img-container{
                        margin-bottom: 1rem;
                      }
                
                       .home-section4 .row1{
                        margin-bottom: 2rem;
                        
                      }

                      .home-section4 h2{
                        font-size: 1.5rem !important;
                        
                      }

                      .home-section4 .row1 .services-img-container{
                        margin-top: 1rem;
                      }
                
                      .home-section4 .row1 .services-img-container .img1{
                        position: relative;
                      }
                      .home-section4 .row1 .services-img-container .img2{
                        position: relative;
                        bottom: 0;
                      }

                      .home-section4 .row2 .paragraph-container {
                        padding-left: 0;
                    }
                
                       .home-section4 .row2{
                        margin-bottom: 0px;
                        
                      }
                      .home-section4 .row2{
                        margin-top: 1rem;
                      }
                
                      .home-section4 .row2 .services-img-container{
                        margin-bottom: 1rem;
                      }
                
                      .home-section4 .row2 .services-img-container .img3{
                        position: relative;
                      }
                      .home-section4 .row2 .services-img-container .img4{
                        position: relative;
                        bottom: 0;
                      }

                      .home-section4 {
                        margin-bottom: 0px;
                    }

                       /* SECTION 5 */

                       
              .home-section5 h2{
                text-align: center;
                color: white;
                font-size: 1.5rem;
              }

              .home-section5 .row1 {
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 .laptop-container{
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 p{
               color: white;
            }
            .home-section5 .obj6{
              display: none;
            }

              .orange-bg-poly{

                display: none;
               
              }
              
              .orange-bg-rec{
               
                display: block;
                height: 1650px;
              }

              .footer img{
                width: 20% !important;
              }

              .section{
                padding-left: 0px !important;
                padding-right: 0px !important;
              }


              /* ABOUT */
              .about-section3 .container-shadow{
                
                min-height: 420px; 
             }



           .about-section3{
            padding-bottom: 0px !important;
          }   

          .services-section5 .img-container img{
 
            top: -100px;
           
            
           
        }

        /* ABOUT */

          /* ABOUT */
    
    .about-section3 .content-container, .about-section3 .content-container.last{
      height: 480px;
    }
    
    
    .about-section3 .container-shadow{
      display: none;
    }
    
    .about-section3 .container-shadow-l-2{
      display: none;
    }
    
    
    .about-section3 .container-shadow-l-3{
      display: none;
    }
    
    
    
    .about-section3 .container-shadow-r{
      display: none;
    }
    
    .about-section3 .container-shadow-r-2{
      display: none;
    }
    
    .about-section3 .line{
      display: none;
    }

    .about-section3{
      min-height: 3250px;
    }
    .about-section3 .content-container .obj8, 
    .about-section3 .content-container .obj9,
    .about-section3 .content-container .obj10,
    .about-section3 .content-container .obj11,
    .about-section3 .content-container .obj12{
      display: none;
    }

    .services-section1 h2 {
      padding-bottom: 0px;
  }
          
  .services-section1  {
    padding-bottom: 0px !important;
  }
  .services-section2 h2{
    padding-bottom: 0px !important;
  }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
  .home-section5{
    margin-bottom: 90px;
  }
  .services-section1  {
    padding-bottom: 0px !important;
  }
  .services-section2 h2{
    padding-bottom: 0px !important;
  }
  h1{
    font-size: 32px;
  }
  h2{

  }
  h3{
    font-size: 28px;
  }

  .marginTop212{
    margin-top: 32.5px !important;
  }
  .home-section3  .logo-paragraph-container p{
    font-size: 1.2rem;
    color: white;
  }

  .header{
    min-height: 830px !important;
  }


  .logo-container{
    height: 100%;
  }

  .logo-container .img-containers {
    margin: auto !important;
  }

  
  .about-section3 .line{
   display: none;
    
}

.about-section3{
  min-height: 2900px;
}

  .about-section3 .container-shadow-r-2 {
    
    min-height: 434px;
} 
    .home-section3 .img-container img{
        
        top: -20px;
      }
      .home-section1 .content-container p{
        padding-left:0px;
       }
       .home-section2 .content-container p{
        padding-left:0px;
       }

       
       .home-section1 .obj1, .home-section1 .obj2,.home-section2 .obj3, .home-section2 .obj4, .home-section4 .obj5,.about-section3 .obj7, .services-section1 .obj13, .services-section1 .obj14, .services-section2 .obj15{
        display: none;
      }

              /* SECTION4 */

              .dark-bg-poly{
                display: none;
               }
        
               .dark-bg-rec{
                display: block;
                height: 1150px;
              }
        
              
      .home-section4 {
        background-color: var(--black);
      }

      .home-section4 p {
        color: var(--white);
      }
        
              .home-section4 .row1 .paragraph-container {
                padding-left: 0;
            }

            .home-section4 .row1 .services-img-container{
                margin-bottom: 1rem;
              }
        
               .home-section4 .row1{
                margin-bottom: 2rem;
                
              }
        
              .home-section4 .row1 .services-img-container .img1{
                position: relative;
              }
              .home-section4 .row1 .services-img-container .img2{
                position: relative;
                bottom: 0;
              }

              .home-section4 .row2 .paragraph-container {
                padding-left: 0;
            }
        
               .home-section4 .row2{
                margin-bottom: 0px;
                
              }

              .home-section4 .row2{
                margin-top: 1rem;
              }
        
              .home-section4 .row2 .services-img-container{
                margin-bottom: 1rem;
              }
        
              .home-section4 .row2 .services-img-container .img3{
                position: relative;
              }
              .home-section4 .row2 .services-img-container .img4{
                position: relative;
                bottom: 0;
              }

              .home-section4 {
                margin-bottom: 0px;
            }

              /* SECTION 5 */

              .home-section5 h2{
                text-align: center;
                color: white;
              }

              .home-section5 .row1 {
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 .laptop-container{
                margin-bottom: 1rem;
            }
        
            .home-section5 .row1 p{
               color: white;
            }

            .home-section5 .obj6{
              display: none;
            }

              .orange-bg-poly{

                display: none;
               
              }
              
              .orange-bg-rec{
               
                display: block;
                height: 1650px;
              }

              .footer img{
                width: 20% !important;
              }



              /* ABOUT */
              .about-section3 .container-shadow{
                
                min-height: 400px; 
             }


           .about-section3 .container-shadow-l-2 {
  
            min-height: 520px;
           
        }

        .about-section3 .container-shadow-l-3 {
    
          min-height: 530px;
          
      }
      
      .about-section3{
        padding-bottom: 0px !important;
      }   
      
      .services-section5 .img-container img{
 
        top: -50px;
      
        
       
    }

    /* ABOUT */
    
    .about-section3 .content-container, .about-section3 .content-container.last{
  height: 400px;
}


.about-section3 .container-shadow{
  height: 330px;
}

.about-section3 .container-shadow-l-2{
  min-height: 400px;
}


.about-section3 .container-shadow-l-3{
  min-height: 400px;
}



.about-section3 .container-shadow-r{
  min-height: 400px;
}

.about-section3 .container-shadow-r-2{
  min-height: 400px;
}

.about-section3 .line{
  display: none;
}

.services-section1 h2 {
  padding-bottom: 0px;
}
            
}
      


@media (min-width: 768px) and (max-width: 849.98px) {
  .services-section1 h2 {
    padding-bottom: 0px;
}
  .about-section3{
    min-height: 2410px;
  }

  .services-section1 h2 {
    padding-bottom: 0px;
}
  .marginTop212{
    margin-top: 32.5px !important;
  }
  
  .home-section3  .logo-paragraph-container p{
    font-size: 1.5rem;
    color: white;
  }
  .about-section3 .line{
    display: none;
    
}

.about-section3{
  min-height: 2560px;
}

    /* FLYING OBJECT */
  .home-section1 .obj1, .home-section1 .obj2,.home-section2 .obj3, .home-section2 .obj4, .home-section4 .obj5, .about-section3 .obj7, .services-section1 .obj13, .services-section1 .obj14, .services-section2 .obj15{
    display: none;
  }
  
      /* SECTION 3 */
      .home-section3 .img-container img{
        
        top: -30px;
      }

      .home-section1 .content-container p{
        padding-left:0px;
       }
       .home-section2 .content-container p{
        padding-left:0px;
       }



    
       /* SECTION4 */

       .dark-bg-poly{
        display: none;
       }

       .dark-bg-rec{
        display: block;
      }


      
      .home-section4 {
        background-color: var(--black);
      }

      .home-section4 p {
        color: var(--white);
      }

      .home-section4 .row1 .paragraph-container {
        padding-left: 0;
    }

       .home-section4 .row1{
        margin-bottom: 2rem;
        
      }

      .home-section4 .row1 .services-img-container{
        margin-bottom: 1rem;
      }

      .home-section4 .row1 .services-img-container .img1{
        position: relative;
      }
      .home-section4 .row1 .services-img-container .img2{
        position: relative;
        bottom: 0;
      }


      .home-section4 .row2 .paragraph-container {
        padding-left: 0;
    }

       .home-section4 .row2{
        margin-top: 0rem !important;
        margin-bottom: 0px;
        
      }

      .home-section4 .row2 .services-img-container{
        margin-bottom: 1rem;
      }

      .home-section4 .row2 .services-img-container .img3{
        position: relative;
      }
      .home-section4 .row2 .services-img-container .img4{
        position: relative;
        bottom: 0;
      }

      .home-section4 {
        margin-bottom: 0px;
    }




      /* SECTION 5 */

      .home-section5 h2{
        text-align: center;
        color: white;
      }

      .home-section5 .row1 {
        margin-bottom: 1rem;
    }

    .home-section5 .row1 .laptop-container{
        margin-bottom: 1rem;
    }

    .home-section5 .row1 p{
       color: white;
    }
    .home-section5 .obj6{
      display: none;
    }

    .home-section5 .row2 .mobile-container{
        
        margin: auto;
        margin-bottom: 1rem;
    }

      .orange-bg-poly{

        display: none;
       
      }
      
      .orange-bg-rec{
       
        display: block;
        height: 1650px;
      }

  footer img{
    width: 20%;
  }
  footer {
    padding-top: 0px !important;
  }
}


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 850px) and (max-width: 991.98px) { 
  .services-section1 h2 {
    padding-bottom: 0px;
}
  .marginTop212{
    margin-top: 32.5px !important;
  }
  
  .home-section3  .logo-paragraph-container p{
    font-size: 1.5rem;
    color: white;
  }
  .about-section3 .line{
    display: none;
    
}

.about-section3{
  min-height: 2560px;
}

    /* FLYING OBJECT */
  .home-section1 .obj1, .home-section1 .obj2,.home-section2 .obj3, .home-section2 .obj4, .home-section4 .obj5, .about-section3 .obj7, .services-section1 .obj13, .services-section1 .obj14, .services-section2 .obj15{
    display: none;
  }
  
      /* SECTION 3 */
      .home-section3 .img-container img{
        
        top: -30px;
      }

      .home-section1 .content-container p{
        padding-left:0px;
       }
       .home-section2 .content-container p{
        padding-left:0px;
       }



    
       /* SECTION4 */

       .dark-bg-poly{
        display: none;
       }

       .dark-bg-rec{
        display: block;
      }

      .home-section4 {
        background-color: var(--black);
      }

      .home-section4 p {
        color: var(--white);
      }

      .home-section4 .row1 .paragraph-container {
        padding-left: 0;
    }

       .home-section4 .row1{
        margin-bottom: 1rem;
        
      }

      .home-section4 .row1 .services-img-container{
        margin-bottom: 1rem;
      }

      .home-section4 .row1 .services-img-container .img1{
        position: relative;
      }
      .home-section4 .row1 .services-img-container .img2{
        position: relative;
        bottom: 0;
      }


      .home-section4 .row2 .paragraph-container {
        padding-left: 0;
    }

       .home-section4 .row2{
        margin-top: 0rem !important;
        margin-bottom: 0px;
        
      }

      .home-section4 .row2 .services-img-container{
        margin-bottom: 1rem;
      }

      .home-section4 .row2 .services-img-container .img3{
        position: relative;
      }
      .home-section4 .row2 .services-img-container .img4{
        position: relative;
        bottom: 0;
      }

      .home-section4 {
        margin-bottom: 0px;
    }




      /* SECTION 5 */

      .home-section5 h2{
        text-align: center;
        color: white;
      }

      .home-section5 .row1 {
        margin-bottom: 1rem;
    }

    .home-section5 .row1 .laptop-container{
        margin-bottom: 1rem;
    }

    .home-section5 .row1 p{
       color: white;
    }
    .home-section5 .obj6{
      display: none;
    }

    .home-section5 .row2 .mobile-container{
        
        margin: auto;
        margin-bottom: 1rem;
    }

      .orange-bg-poly{

        display: none;
       
      }
      
      .orange-bg-rec{
       
        display: block;
        height: 1650px;
      }

      .footer img{
        width: 20% !important;
      }
      .about-section3 .container-shadow-l-3 {
    
        min-height: 480px;
        
    }
    .about-section3{
      padding-bottom: 0px;
    }  
    
    .services-section5 .img-container img{
 
      top: -100px;
    
      
     
  }

  /* ABOUT */
    
.about-section3 .content-container.last{
  height: 400px;
}


.about-section3 .container-shadow{
  height: 330px;
}

.about-section3 .container-shadow-l-2{
  min-height: 330px;
}


.about-section3 .container-shadow-l-3{
  min-height: 400px;
}



.about-section3 .container-shadow-r{
  min-height: 330px;
}

.about-section3 .container-shadow-r-2{
  min-height: 330px;
}

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .home-section5 .obj6{
    display: none;
  }

  .about-section3{
    min-height: 2530px;
  }

  
  .about-section3 .line{
    height: 1800px;
    top: 12%;
    
}
  .about-section3 .container-shadow-l-3 {
    
    min-height: 510px;
    
}
    .home-section4 .row1{
        margin-bottom: 6rem;
      }

      .orange-bg-poly{

        display: block;
        height: 1130px;
     
      }

      
      .about-section3 .container-shadow-r{
        min-height: 430px;
 }

 .about-section3{
  padding-bottom: 0px !important;
}   


.about-section3 .content-container.last{
  height: 400px;
}


.about-section3 .container-shadow{
  height: 330px;
}

.about-section3 .container-shadow-l-2{
  min-height: 330px;
}


.about-section3 .container-shadow-l-3{
  min-height: 400px;
}



.about-section3 .container-shadow-r{
  min-height: 330px;
}

.about-section3 .container-shadow-r-2{
  min-height: 330px;
}

.home-section4 .row2{
  margin-top: 10rem !important;

}

}



@media (min-width: 1200px) and (max-width: 1300px){

  .home-section5 .obj6{
    right: -50px;
  }

  .about-section3{
    

    padding-bottom: 180px !important;
 

}
}